@import "normalize";
@import "layout";
@import "elements";

html {
  overflow: hidden;
}

.ba-playlist-list {
  background: url("../img/font.jpg") no-repeat center;
  background-size: cover;
  height: 100vh;
  padding: 5%;
}

.ba-playlist {
  background: #fff;
  border-radius: 20px;
  padding: 30px 20px;
  box-shadow: 1px 0 5px rgba(0, 0, 0, 0.4);

  &__title {
    font: 500 25px/1.4 Lora, serif;
    text-align: center;
  }

  &__list {
    list-style: none;
    padding-left: 0;
  }

  &__inner {
    max-width: 400px;
    margin: 0 auto;
  }
}

.ba-music {
  border-top: 1px solid grey;
  padding-top: 10px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__header {
    display: flex;
    align-items: center;
  }

  &__duration {
    font-size: 80%;
    color: #948e8e;
    &:after {
      content: "|";
      padding-left: 10px;
    }
  }

  &__artist {
    margin: 8px;
    color: #948e8e;
    text-transform: capitalize;
    font-size: 80%;
  }

  &__title {
    text-transform: capitalize;
    color: #7176d1;
    &::first-letter {
      text-transform: uppercase;
    }
  }
}

.ba-icon {
  width: 25px;
  height: 25px;
  cursor: pointer;
  fill: hotpink;

  &:hover {
    fill: black;
  }
}
